@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* .resultBuffer {
    display: none
} */

body {
  font-family: "Open Sans", sans-serif;
}

#select-analysis {
  width: 100%;
  margin-left: 10px;
}

.driving-historical {
  display: none;
}

.input-distance-driving {
  margin-top: 5px;
}

.select-unit {
  width: 100%;
}

.panel-right {
  right: 0;
}

.panel-left {
  left: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 27px;
  margin-top: 22px;
}

div.inline {
  float: right;
  text-align: center;
}

.sidenav span {
  padding: 0px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .title {
  padding: 0px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  color: #818181;
  margin-top: -30px;
  transition: 0.3s;
}

.sidenav #closebtn {
  padding: 0px 8px 8px 32px;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #818181;
  margin-top: 10px;
}

.sidenav #closeviewer {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #818181;
}

.sidenav #closeSiteAnalysis {
  padding: 0px 8px 8px 32px;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #818181;
  margin-top: 10px;
}

.sidenav #closeAnalysisPOI {
  padding: 0px 8px 8px 32px;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #818181;
  margin-top: 10px;
}

.drive-button {
  background-color: rgb(255, 255, 255);
  position: absolute;
  padding: 15px 15px;
  color: black;
  margin-top: 35%;
  margin-left: 1%;
  z-index: 1;
}

#query-table {
  display: none;
}

#info {
  display: none;
  color: #444;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
  margin: 5px;
  z-index: 2;
  width: 120px;
  text-align: center;
  border: solid 2px #666;
  border-radius: 4px;
  background-color: #fff;
}

.radio-inline {
  padding-right: 10px;
}

.chkLabel {
  font-size: 12px;
}

#confirmBox {
  z-index: 3;
  display: none;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: fixed;
  width: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

#confirmBox button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

#confirmBox button:hover {
  background-color: #ddd;
}

#confirmBox .message {
  text-align: left;
  margin-bottom: 8px;
}

#form-poi input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#form-poi input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#form-poi input[type="submit"]:hover {
  background-color: #45a049;
}

#poi {
  display: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.select-buffer {
  width: 100%;
}

ul {
  padding: 0px;
  margin-left: 10px;
  list-style-type: none;
}
li {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
}

.container-analysis {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.scroller-analysis {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.button-drag-csv {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 20px;
}

#topbar {
  display: none;
  background: #fff;
  padding: 10px;
}

.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

button.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}

button.active {
  background: #0079c1;
  color: #e4e4e4;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button-filter {
  background-color: #5b5959;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 300px;
  margin-bottom: 20px;
}

/* The popup form - hidden by default */
.form-popup-filter {
  /* display: none; */
  position: fixed;
  border: 1px solid #f1f1f1;
  z-index: 9;
  background: rgba(255, 255, 255, 1);
}

/* Add styles to the form container */
.form-container-filter {
  max-width: 500px;
  background: rgba(255, 255, 255, 1);
}

/* Full-width input fields */
.form-container-filter input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  border: 1px solid;
}

/* When the inputs get focus, do something */
.form-container-filter input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container-filter .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-filter .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container-filter .btn:hover,
.open-button:hover {
  opacity: 1;
}

.ui-datepicker {
  padding: 0.2em 0.2em 0;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

.ui-datepicker-month {
  padding: 0px;
}

.ui-datepicker-year {
  padding: 0px;
}

.ui-datepicker-next,
.ui-datepicker-prev {
  display: none;
}

/* Title property */

.title-property {
  color: #ffffff;
  width: 100%;
  height: 20px;
  background-color: #6496e8;
}

.title-property p {
  padding-left: 0px;
}

.title-property:hover {
  background-color: #ffffff;
  color: #b9d6ed;
}

.property-status-items {
  height: 20px;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/* Table Property */

.table-property {
  width: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

tr.table-property {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

td.table-property {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

.table-property-bordered {
  border: 1px solid black;
}

.table-property-bordered tr {
  border: 1px solid black;
}

.table-property-bordered td {
  border: 1px solid black;
}

table,
tr,
th,
td {
  border: 1px solid white;
}

td.property-item {
  width: 80px;
  height: 26px;
}

.table-property.button-filter-table {
  margin-bottom: 20px;
  margin-top: 20px;
}

.treeview {
  margin-left: -5px;
}

.title-layers-property {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #7a7c80;
}

.title-layers-property p {
  padding-top: 7px;
  padding-left: 5px;
}

.treeview p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

/* .property-info tr {
  height:30px;
} */

.rotate {
  -moz-transition: all linear;
  -webkit-transition: all linear;
  transition: all linear;
}

.rotate.down {
  margin-top: 5px;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.unit-input {
  float: right;
  width: 100%;
  cursor: pointer;
  height: 22.9167px;
  position: relative;
  border: 1px solid #aaa;
  margin-top: 0px;
  font-size: 10px;
  color: #aaa;
  white-space: nowrap;
  padding: 0px;
  border-radius: 10px;
}

/* .unit-input select {
  cursor: pointer;
  z-index: 100;
  margin-top: 0px;
  background: transparent;
  width: 60;
  padding: 0px;
  font-size: 10px;
  height: 26px;
  border: 0;
  border-radius: 10px;
  color: #aaa;
  -webkit-appearance: none;
} */

.unit-input:after {
  z-index: -1;
  content: " ";
  height: 0;
  position: absolute;
  top: 50%;
  right: 5px;
  width: 0;
  border: 6px solid rgba(0, 0, 0, 0);
  border-top-color: #999;
  margin-top: -3px;
}

.sub-property-status {
  height: 20px;
  overflow: hidden;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.multiselect {
  width: 100%;
}

.selectBox {
  padding: 0px;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.dropdown-filter {
  position: relative;
  display: inline-block;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.dropdown-content-property {
  cursor: default;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 10;
}

.dropdown-content-department {
  cursor: default;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 10;
}

.dropdown-table-property {
  width: 290px;
  font-size: 8px;
  color: black;
}

.dropdown-table-department {
  width: 290px;
  font-size: 8px;
  color: black;
}

.div-legend {
  width: 130px;
}

.title-legend {
  width: 100%;
  font-size: 10px;
  text-align: center;
  background-color: #6496e8;
  margin: 0px;
  font-weight: bold;
  color: #ffffff;
}

.esri-popup__inline-actions-container {
  width: 40px !important;
}

.esri-view-width-less-than-large .esri-popup__action {
  display: block !important;
}

div.esri-popup__button.esri-popup__action {
  margin-right: 5px;
}

.button-remove-filter {
  display: none;
}

.table-layer {
  margin-top: 2px;
}

.sub-table-layer {
  padding-left: 40px;
}

.expand-layer {
  cursor: pointer;
}

.expand-element,
.expand-master-element {
  display: none;
}

.item-buffer-layer {
  text-align: center;
  display: none;
  cursor: pointer;
}

.select-buffer-layer {
  width: 70px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}

#form-list {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100px;
  min-height: 200px;
}

.bottom-input-name {
  background-color: #fff;
  width: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.tbl {
  padding-left: 8px;
  padding-right: 8px;
}

table.dataTable th {
  padding-top: 1.2px;
  padding-bottom: 1.2px;
}

table.dataTable td {
  padding-top: 1.2px;
  padding-bottom: 1.2px;
}

table.dataTable {
  margin-bottom: 5px;
}

.btn-modal-form-poi {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-bottom: 9px;
}

.btn-batas-administrasi {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-bottom: 9px;
  padding-left: -2px;
}

.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.table_list_services {
  display: none;
}

.close-services:hover {
  cursor: pointer;
}

.label-services {
  cursor: pointer;
}

.image-loading {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.popupFilter {
  position: absolute;
  z-index: 10;
  background-color: white;
  display: none;
  width: auto;
  height: auto;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 2px 5px #888888;
  padding: 10px;
}

.tr-first > td {
  background-color: #f5f5f5;
}

.tr-second > td {
  background-color: #edebeb;
}

.close-popup-property {
  cursor: pointer;
}

.pagination-lib li:hover {
  cursor: pointer;
}

.center-popup {
  text-align: center;
}

.font-popup {
  font-size: 11px;
}

.title-popup {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.table-sub-property {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

.text-align-right {
  text-align: right;
}
