#main {
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* .resultBuffer {
    display: none
} */

#select-analysis {
  width: 100%;
  margin-left: 10px;
}

.driving-historical {
  display: none;
}

.input-distance-driving {
  margin-top: 5px;
}

.select-unit {
  width: 100%;
}

.panel-right {
  right: 0;
}

.panel-left {
  left: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 27px;
}

div.inline {
  float: right;
}

.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .title {
  padding: 0px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  color: #818181;
  margin-top: -30px;
  transition: 0.3s;
}

.sidenav #closebtn {
  padding: 0px 8px 8px 32px;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #818181;
  margin-top: 30px;
}

.sidenav #closeviewer {
  padding: 0px 8px 8px 32px;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #818181;
  margin-top: 30px;
}

.sidenav #closeSiteAnalysis {
  padding: 0px 8px 8px 32px;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #818181;
  margin-top: 30px;
}

.drive-button {
  background-color: rgb(255, 255, 255);
  position: absolute;
  padding: 15px 15px;
  color: black;
  margin-top: 35%;
  margin-left: 1%;
  z-index: 1;
}

#query-table {
  display: none;
}

#info {
  display: none;
  color: #444;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
  margin: 5px;
  z-index: 2;
  width: 120px;
  text-align: center;
  border: solid 2px #666;
  border-radius: 4px;
  background-color: #fff;
}

.chkLabel {
  font-size: 12px;
}

#confirmBox {
  z-index: 3;
  display: none;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  position: fixed;
  width: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
}

#confirmBox button {
  background-color: #ccc;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

#confirmBox button:hover {
  background-color: #ddd;
}

#confirmBox .message {
  text-align: left;
  margin-bottom: 8px;
}

#form-poi input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#form-poi input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#form-poi input[type="submit"]:hover {
  background-color: #45a049;
}

#poi {
  display: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.select-buffer {
  width: 100%;
}

ul {
  padding: 0px;
  margin-left: 10px;
  list-style-type: none;
}
li {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  list-style-type: none;
}

.container-analysis {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.scroller-analysis {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
}

.button-drag-csv {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 20px;
}

#topbar {
  display: none;
  background: #fff;
  padding: 10px;
}

.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

button.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}

button.active {
  background: #0079c1;
  color: #e4e4e4;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button-filter {
  background-color: #383b39;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 300px;
  margin-bottom: 20px;
}

/* The popup form - hidden by default */
.form-popup-filter {
  /* display: none; */
  position: fixed;
  border: 1px solid #f1f1f1;
  z-index: 9;
  background: rgba(255, 255, 255, 1);
}

/* Add styles to the form container */
.form-container-filter {
  max-width: 500px;
  background: rgba(255, 255, 255, 1);
}

/* Full-width input fields */
.form-container-filter input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  border: 1px solid;
}

/* When the inputs get focus, do something */
.form-container-filter input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container-filter .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-filter .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container-filter .btn:hover,
.open-button:hover {
  opacity: 1;
}

.ui-datepicker {
  padding: 0.2em 0.2em 0;
  width: 200px;
}

.ui-datepicker-month {
  padding: 0px;
}

.ui-datepicker-year {
  padding: 0px;
}

.ui-datepicker-next, .ui-datepicker-prev {
  display: none;
}

/* Dropdown property */

.dropdown-property {
  width:326.317px;
  cursor: pointer;
}

.property-info, .property-status, .button-filter-property {
  display:none;
  background-color: #fcfdff
}

.rotate{
  -moz-transition: all linear;
  -webkit-transition: all linear;
  transition: all linear;
}

.rotate.down{
  margin-top: 5px;
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}
