.popupFilter {
  position: absolute;
  z-index: 10;
  background-color: white;
  display: none;
  width: 719px;
  height: auto;
  margin: 20px auto;
  right: 0;
  left: 0;
  box-shadow: 2px 5px #888888;
  padding: 10px;
  border-radius: 10px;
}

.pagination-colliers {
  width: 100px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
